@import '../../../styles/variables.scss';

.wrapper {
    display: grid;
    grid-template-columns: 50px 1fr;
    width: 100%;
    padding: 8px;
    border-radius: 999em 8px 8px 999em;
    background-image: linear-gradient(135deg, #AFF1DA 10%, #F9EA8F 100%);
    box-shadow: $box-shadow;
    cursor: pointer;

    &+.wrapper {
        margin-top: 8px;
    }

    &:hover {
        color: $color-path;
    }
}

.active {
    border-right: 4px solid $color-path;
    border-left: 4px solid $color-path;
    background-image: linear-gradient(135deg, #fdfbfb 10%, #ebedee 100%);
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: $box-shadow;
    background-image: linear-gradient(135deg, #f5f7fa 10%, #c3cfe2 100%);
}

.name {
    display: flex;
    margin-left: 16px;
    align-items: center;
}