@import '../../styles/import.scss';

.wrapper {
    background-image: linear-gradient(-135deg, #f5f7fa 10%, #c3cfe2 100%);
    padding: 16px;
    border-radius: $border-radius;
    box-shadow: $box-shadow-3d;
    width: 360px;
}

.title {
    color: #2a5298;
    font-size: 1.5em;
    padding-bottom: 16px;
    text-transform: uppercase;
    border-bottom: 2px solid #fdfbfb;
}

.content {
    margin: 16px 0;
}

.action {
    width: 100%;
    margin-top: 32px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
    padding-top: 16px;
    color: #3F0D12;
    text-transform: uppercase;

    &:hover {
        color: $color-path;
    }
}

.result {
    text-transform: uppercase;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    color: whitesmoke;
    background-image: linear-gradient(135deg, #EC9F05 10%, #FF4E00 100%);
    width: 360px;
}