$border-radius: .125rem;

// color
$color-title: #2A5298;
$color-path: #2376DD;
$color-error: red;

// 3d
$box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 5%);
// $box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
$box-shadow-3d: 1px 1px rgba(0, 0, 0, 0.5);

// header
$header-height: 84px;