$border-radius: 0.125rem;

// color
$color-title: #2a5298;
$color-path: #2376dd;
$color-error: red;

// 3d
$box-shadow: 1px 1px 1px 0 rgb(0, 0, 0, 5%);
$box-shadow-3d: 1px 1px rgba(0, 0, 0, 0.25);

// header
$header-height: 0px;
