@import '~/styles/import.scss';

.main {
    display: flex;
    flex-direction: column;

    @include breakpoint(xl) {
        display: grid;
        grid-template-columns: 240px 1fr;
    }
}

.content {
    padding-bottom: 128px;
    min-height: -webkit-fill-available;
    min-height: calc(100vh - $header-height-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;

    @include breakpoint(xl) {
        padding: 32px;
        min-height: calc(100vh - $header-height);
    }
}