@import '../../styles/variables.scss';

.wrapper {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(-135deg, #667eea 10%, #764ba2 100%);
    color: whitesmoke;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    display: grid;
    grid-template-columns: 240px 1fr 240px;
    gap: 32px;
    box-shadow: $box-shadow;
    z-index: 100;
}

.logo {
    background-image: linear-gradient(45deg, #c3cfe2 10%, #f5f7fa 100%);
    padding: 8px;
    width: 240px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 0 8px;
    padding: 8px;
    text-transform: uppercase;
    border-radius: 999rem;
    box-shadow: $box-shadow;

    &:hover {
        cursor: pointer;
        border-bottom: 1px solid #F5F7FA;
    }
}

.right {
    width: 240px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    &+.iconContainer {
        margin-left: 8px;
    }
}

.icon {
    padding: 4px;
    border-radius: 999rem;
    background-image: linear-gradient(135deg, #f5f7fa 10%, #c3cfe2 100%);
    box-shadow: $box-shadow-3d;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid #667eea;
    }
}

.menu {
    display: none;
}

@media (max-width: 480px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .logo,
    .right {
        width: fit-content;
    }

    .navbar {
        display: none;
    }

    .menu {
        display: flex;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .logo,
    .right {
        width: fit-content;
    }

    .navbar {
        display: none;
    }

    .menu {
        display: flex;
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        height: 48px;
    }

    .logo,
    .right {
        width: fit-content;
    }

    .navbar {
        display: none;
    }

    .menu {
        display: flex;
    }
}

@media (min-width: 769px) and (max-width: 1007px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }

    .logo,
    .right {
        width: fit-content;
    }

    .navbar {
        display: none;
    }

    .menu {
        display: flex;
    }
}

@media (min-width: 1008px) and (max-width: 1200px) {}