@import '../../../styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;

    &+.wrapper {
        margin-top: 8px;
    }
}

.label {
    margin-bottom: 8px;
}

.input {
    padding: 12px;
    border-radius: $border-radius;
    border: 1px solid #868f96;
    outline: none;

    &:focus {
        border: 1px solid #0E197D;
        caret-color: #0E197D;
    }
}

.error {
    color: $color-error;
    min-height: 1.4rem;
    font-size: 0.75em;
}