@import '../../../styles/variables.scss';

.wrapper {
    position: relative;
    background-color: white;
    padding: 8px;

    // coppy from shopee
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
    border-radius: $border-radius;
    color: rgba(0, 0, 0, 0.87);
    border: 2px solid transparent;

    &:hover {
        color: $color-path;
        border: 2px solid #de4313;

        & .price {
            color: red;
        }

        & .action {
            display: flex;
        }
    }
}

.name {
    margin: 8px 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: calc(1.4em * 3);
}

.price {
    margin: 8px 0;
    color: #ff4e00;
}

.description {
    display: none;
}

.image {
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // coppy from shopee
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
    border-radius: $border-radius;
}

.action {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: calc(-1.4rem - 8px * 2 + 0.8em / 2);
    right: -2px;
    left: -2px;
    padding: 8px;
    font-size: 0.8em;
    background-color: #de4313;
    color: whitesmoke;
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: $box-shadow;
    border: 1px solid #de4313;
    z-index: 1;

    &:hover {
        cursor: pointer;
    }
}
