@import '../../styles/variables.scss';

.wrapper {
    background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%);
    color: #434343;
    width: 100%;
    height: fit-content;
    padding: 16px;
    border-radius: $border-radius;

    &+.wrapper {
        margin-top: 32px;
    }
}

.title {
    font-size: 1.2em;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid #FDFBFB;
    color: $color-title;

    &+.content {
        margin-top: 16px;
    }
}