@import '~/styles/import.scss';

.wrapper {
    // background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%);
    background-color: rgba(0, 0, 0, 0.05);
    color: #434343;
    width: 100%;
    min-height: 100%;
    padding: 16px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    & + .wrapper {
        margin-top: 32px;
    }
}

.title {
    font-size: 1.2em;
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 1px solid #fdfbfb;
    color: $color-title;

    & + .content {
        margin-top: 16px;
    }
}
