@import '../../styles/import.scss';

.wrapper {
    margin-top: $header-height;
    box-shadow: $box-shadow;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: auto;
    padding: 16px;
}

.title {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2em;
    color: $color-title;
}