.wrapper {
    display: inline-block;
    margin: auto;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.displayNone {
    display: none;
}

.icon {
    object-fit: contain;
    padding: 4px;
    border-radius: 999rem;
    background-image: linear-gradient(135deg, #f5f7fa 10%, #c3cfe2 100%);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;

    &:hover {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    }
}