@import '~/styles/import.scss';

.wrapper {
    position: sticky;
    top: $header-height-sm;
    height: calc(100vh - $header-height-sm);
    box-shadow: $box-shadow;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    z-index: 100;

    @include breakpoint(xl) {
        top: $header-height;
        height: calc(100vh - $header-height);
    }

    &.active {
        display: none;

        @include breakpoint(xl) {
            display: block;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 16px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.25);

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
    }
}

.title {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2em;
    color: $color-title;
}
